body {
	background-image:url("https://www.minecraft.net/content/dam/minecraftnet/games/minecraft/key-art/Homepage_Hero-A-0_Furniture_1080x1080_01.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}
.minecraft-logo{
	position : fixed;
	top: 20px;
	left: 20px;
	width:250px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: #111;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
.logo {
    font-family: 'MinecraftFont', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.button-container {
    display: flex;
    gap: 60px;
    flex-grow: 1;       
    justify-content: center;
    margin-right:225px;
}

.btn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #222;
}

.profile-pic {
   position:fixed;
   top:5px;
   right:20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}
main {
    display: flex;
    justify-content: center;
}

section {
    margin-top: 180px; /* sous le header */
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: black;
    color: white;

    padding: 25px;
    border-radius: 10px;

    width: 400px;
}

.form div {
    display: flex;
    flex-direction: column;
}

.form input,
.form textarea {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.form input[type="submit"] {
    background-color: #111;
    color: white;
    cursor: pointer;
}

@keyframes minecraftFade {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.minecraft-transition {
    animation: minecraftFade 1.2s steps(12) forwards;
}

